*{
    background-color: #003366;
    color: white;
    border: 0px solid ;
    padding: 2px;
    margin: 2px;

}


button a{
    text-decoration: none;
    padding: 10px;
    margin-top: 10px;
}


.backButton{
    margin-right: auto;
}
